button.userDiv{
    width: 10rem;
    height: 3.5rem;
    background-color: #131212;
    border: none;
    outline: none;
    box-shadow: none;
}

.userIcon {
    background-color: gray;
    padding: 0.25rem 0.45rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }
